

<div class="fontTitle">
  Welcome
</div>

<div class="fontSubTitle">
  We are Team #1, we are very pleased to see you here...
</div>

<div class="row">

  <div class="imgCenter">
    <ngb-carousel *ngIf="images" class="img-responsive">

      <ng-template ngbSlide>
        <img src="assets/images/1.png" class="imgCenter" alt="Cinque Terre">
        <div class="carousel-caption">

        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/images/2.png" class="imgCenter" alt="Random second slide">
        <div class="carousel-caption">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/images/3.png" class="imgCenter" alt="Random third slide">
        <div class="carousel-caption">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/images/4.png" class="imgCenter" alt="Random third slide">
        <div class="carousel-caption">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/images/5.png" class="imgCenter" alt="Random third slide">
        <div class="carousel-caption">
        </div>
      </ng-template>

    </ngb-carousel>
    <hr>
    <div class="fontMembers">
        Members:
    </div>
    
    <div class="textCommun">
      Denise Alejandra Rodriguez Silva
      <br>
      Diego Alfonso Serna Rivera
      <br>
      Luis Pablo Guerrero Garza
      <br>
      Oscar Recio Delgado
      <br>
      Isaac Gutiérrez Payán
    </div>
<hr>
    <!-- <div>
      We are...
    </div> -->


    <div class="row">
      <div class="fontContact col-3">
        Contact:
      </div>
      <i class="fab fa-facebook-square col-1 fa-2x"></i>
      <i class="fab fa-twitter-square col-1  fa-2x"></i>
    </div>


  </div>


</div>