#sidePadding{
    padding-left: 0px;
    padding-right: 0px;
}
#sideMarginIcons{
    margin-left: 55px;
    margin-right: 55px;
}
.icons{
    font-size: 1.5em;
    color: gray;
    margin-left: 55px;
    margin-right: 55px
}
.selected{
    color: black;
    font-size: 1.5em;
    border-bottom: 2px solid black;
    margin-left: 55px;
    margin-right: 55px;
}
nav > span {
    cursor: pointer;
}