
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 m-0">
        <div class="img">
          <img src="assets/guisos/albondigas-rellenas.jpg" class="img-card" alt="foodImg">
        </div> 
      </div>
      
    </div>
    <div class="row">
      <div class="col-12">
          <h3>Shopping Cart</h3>
          <hr>
        <div class="card" >
          <div style="text-align: center">
              <h6 class="c-gray h6-gray">Comida</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2 d-flex align-items-center">
                <p class="c-gray">1x</p>
              </div>
              <div class="col-7">
                <p class="c-gray">Descripcion</p>
              </div>
              <div class="col-3 d-flex align-items-center">
                <p class="c-gray">$costo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
