
<div class="container-fluid">
    <div class="img-home">
        <img src="assets/guisos/albondigas-rellenas.jpg" class="img2" alt="foodImg">
    </div>  
  <h1 class="marTop20">Shoppig Cart</h1>
  <div class="article marTop20">
    <div id="dishContainer">
        <div class="row">
            <div class="col-4">
              <br><br>
              <b style="color: green">1x</b>
            </div>
            <div class="col-6">
              <p class="marTop10"><b>albondigas-rellenas</b></p>
              <p class="marTop5">Coca-cola</p>
              <p class="marTop5">Arroz rojo</p>
              <p class="marTop5">Frijoles refritos</p>
            </div>
            <div id="priceCol" class="col-2">
              <p class="marTop38 marLeRiAuto">65,00 MX$</p>
            </div>
          </div>
    </div>
  </div>
</div>