<div class="content">
  <div class="container-fluid" >
      <div class="row">
       <div class="col-12" style="margin: 0px; padding: 0px;">
         <div class="img">
           <h3 class="txt-bienvenida">Inicio</h3>
           <img src="assets/img/comida-login.jpg" class="img-login" alt="">
         </div>
        </div>
      </div>

      <div class="content-login">
        <div class="row">
          <div class="col-12">
           <div class="form-group">
             <p>Bienvenido</p>
             <input class="form-control" type="text" placeholder="Correo" [(ngModel)]="email">
             <input class="form-control" type="password" placeholder="Contraseña" [(ngModel)]="password">
           </div>
         </div>
      </div>
      <div class="row">
        <div class="col-4"><small><i class="fab fa-twitter"></i></small></div>
        <div class="col-4"><small><i class="fab fa-facebook-square"></i></small></div>
        <div class="col-4"><small><i class="fas fa-phone"></i></small></div>
      </div>
      <button class="btn btn-success" (click)="login()">Enviar</button><br>
      <small><a  routerLink="/register">Registro</a></small> | <small><a routerLink="/pass-recovery">Olvide la contraseña</a></small>
    </div>
      
  </div>
</div>
