<div class="content">
  <div class="container-fluid" >
      <div class="row" >
       <div class="col-sm-12" style="margin: 0px; padding: 0px;">
         <div class="img">
           <h3 class="txt-bienvenida">Inicio</h3>
           <img src="assets/img/comida-login.jpg" class="img-login" alt="">
         </div>
         <div class="content-login form-group">
           <p>Bienvenido</p>
           <input class="form-control" type="text" placeholder="Correo">
           <input class="form-control" type="password" placeholder="Contraseña">
           <small><a href="">Registro</a></small><br>
           <button class="btn btn-success">Enviar</button>

         </div>
       </div>
    </div>
  </div>
</div>
