<div class="container-fluid">
  <div class="row">
    <div class="col-12 col">
      <div class="img">
          <img src="assets/img/comida-login.jpg" alt="" class="img-home">
      </div>
      <div class="col-12"> 
        <h4 class="display-4">Bienvenido</h4>
        <p class="lead"><hr class="my-4">
        <p>Lorem ipsum</p> 
      </div>
      <div class="col-12">
        <div class="card">
          <div class="img2">
            <img class="card-img-top img-fluid img-card img-home" src="assets/img/comida-login.jpg" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5>Hola</h5>
            <p>Descripción</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

